#container {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-rows: [header] 25% [main] 50% [footer] 25%; 
    grid-template-columns: [left sidebar] 25% [main] 50% [right sidebar] 25%;
    grid-template-areas: 
    "header header header"
    "leftsidebar main rightsidebar"
    "leftsidebar footer rightsidebar";
}

@font-face {
    font-family: "Scheherazade New Bold";
    src: url("media_hw6/ScheherazadeNew-Bold.ttf");
    src: url("media_hw6/ScheherazadeNew-Bold.otf");
}

body {
    background-color: #425A9A;
    font-family:"Scheherazade New Bold";
}

p {
    color:white;
    text-shadow: 1px 1px 3px black;
    font-size:2vw;
    max-width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

@media screen and (max-width: 600px) {

#container {
    height: 97vh;
}

#main {
    background-size: 25%;
}

}

@media screen and (min-width: 600px) {

    #container {
        height: 97vh;
    }
    
}

#genButton {
    border-radius: 5px;
    background-color: #197BBD;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
#genButton:hover {
    background-color: #73AFD3;
}

#genButton:active {
    background-color: #ACE4AA;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#header {
    grid-area: header;
  }
  
  #left_sidebar {
      grid-area: leftsidebar;
  }
  
  #right_sidebar {
      grid-area: rightsidebar;
  }
  
  #main {
    grid-area: main;
    background-image: url("media_hw6/The-Way-of-Kings.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #footer {
      grid-area: footer;
  }

 