body {
    display: grid;
    grid-template-rows: [header] 100px [main] 84vh;
    grid-template-columns: [left sidebar] 350px [main] 3fr;
    grid-template-areas: 
    "header main"
    "leftsidebar main";
    background-color: #54F2F2;
}

.widgets {
    grid-area: leftsidebar;
    background-color: #04471C;
    color: #3F84E5;
    padding-left: 20px;
}

#header {
    grid-area: header;
    background-color: #04471C;
    color: #3F84E5;
    text-align: center;
}

#images{
    grid-area: main;
    background-color: #058c42;
    color: #0d324d;
    overflow: scroll;
    padding-left: 20px;
    padding-right: 20px;
}

#content {
    display: flex;
    flex-wrap: wrap;
}

img {
    height: 20%;
    width: 20%;
}

a:link {
    color: #54F2F2;
  }
  
  a:visited {
    color: yellow;
  }
  
  a:hover {
    color: red;
  }
  
  a:active {
    color: orange;
  }